<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.mapper.AddPlanMapper" >
  <select id="selectAssetnum" resultType="String">
  	SELECT distinct ASSETNUM FROM  `pistdasset2`,`pistd2` WHERE `pistdasset2`.PISTDNUM = `pistd2`.PISTDNUM  and `pistd2`.PIPROFESSION =#{pro}
  </select>
  <select id="selectDes" resultType="String">
  	SELECT `asset`.DESCRIPTION FROM `wsn-rfidphy` ,`asset` where `wsn-rfidphy`.ASSETNUM =#{devnum} and `wsn-rfidphy`.PHYNUM !='' and `asset`.ASSETNUM =#{devnum}
  </select>
  <select id="selectAdd3" resultType="cn.ssm.po.Addplan_3Assetnum">
  	SELECT distinct `pistdasset2`.ASSETNUM devnum,`asset`.DESCRIPTION FROM `wsn-rfidphy` ,`asset`,`pistdasset2`,`pistd2` 
	where `wsn-rfidphy`.ASSETNUM = `pistdasset2`.ASSETNUM
	and `wsn-rfidphy`.PHYNUM !='' 
	and `asset`.ASSETNUM =`pistdasset2`.ASSETNUM 
	AND `pistdasset2`.PISTDNUM = `pistd2`.PISTDNUM 
	and `pistd2`.PIPROFESSION =#{pro}
  </select>
  <select id="selectPistdNum" resultType="string">
  	SELECT distinct `pistdasset2`.PISTDNUM FROM `pistdasset2`,`pistd2` where
  	 `pistdasset2`.PISTDNUM = `pistd2`.PISTDNUM and
  	  `pistd2`.PIPROFESSION =#{PIPROFESSION} and `pistdasset2`.ASSETNUM =#{DEVICENUM}
  </select>
  <insert id="insertPirecord" parameterType="map">
  	INSERT INTO  `pirecord` ( PIPLANNUM,DEPARTMENT,PIPROFESSION,DRAWUPBY,DRAWUPDATE,EXECUTEBY ,PIPLANDATE,ASSETNUM,PISTDNUM,RESULT) VALUES(#{PIPLANNUM},#{DEPARTMENT}, #{PIPROFESSION}, #{DRAWUPBY}, #{DRAWUPDATE}, #{people}, #{dodate}, #{DEVICENUM}, #{STDNUM},'未完成')
  </insert>
</mapper>