<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.mapper.CrecordMapper" >
  <resultMap id="CrecordAssetnumMap" type="cn.ssm.po.CrecordAssetnum" >
    <result column="dnum" property="devnum" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="DESCRIPTION" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="CrecordMap" type="cn.ssm.po.Crecord" >
    <result column="CPLANNUM" property="CPLANNUM" jdbcType="VARCHAR" />
    <result column="assetname" property="assetname" jdbcType="VARCHAR" />
     <result column="REGULAR" property="REGULAR" jdbcType="VARCHAR" />
    <result column="DISPLAYNAME" property="DISPLAYNAME" jdbcType="VARCHAR" />
     <result column="TIME1" property="CPLANDATE0" jdbcType="VARCHAR" />
    <result column="ASSETNUM" property="DENUM" jdbcType="VARCHAR" />
  </resultMap>
  	<sql id="query_items_where">
  	
			<if test="dev!=null and dev!=''">
				and  c.ASSETNUM =#{dev}
			</if>
			<if test="dodate!=null and dodate!=''">
				and  c.TIME1 like '%${dodate}%'
			</if>
		
		and a.ASSETNUM=c.ASSETNUM and
		cp.ASSETNUM=c.ASSETNUM AND cp.CPLANNUM=c.CPLANNUM AND
		p.LOGINID=cp.EXECUTEBY
	</sql>
		<sql id="query_allitems_where">
  	
			
			<if test="dodate!=null and dodate!=''">
				and  c.TIME1 like '%${dodate}%'
			</if>
		
		and a.ASSETNUM=c.ASSETNUM and
		cp.ASSETNUM=c.ASSETNUM AND cp.CPLANNUM=c.CPLANNUM AND
		p.LOGINID=cp.EXECUTEBY
	</sql>
 <select id="selectCrecordAseet" resultMap="CrecordAssetnumMap">
 	SELECT distinct `crecord`.ASSETNUM dnum,`asset`.DESCRIPTION  FROM `crecord`, `asset` where `asset`.ASSETNUM=`crecord`.ASSETNUM
 </select>
  <select id="selectCrecord" resultMap="CrecordMap" parameterType="cn.ssm.po.DevDodate">	
	SELECT distinct c.CPLANNUM,c.ASSETNUM,c.TIME1,a.DESCRIPTION assetname,cp.EXECUTEBY,cp.REGULAR ,p.DISPLAYNAME FROM  `crecord` c,`asset` a ,`cplan` cp ,`person` p  
	<where>
		<include refid="query_items_where"/>
	</where>
  </select>
  <select id="selectAllCrecord" resultMap="CrecordMap" parameterType="cn.ssm.po.DevDodate">
  SELECT distinct c.CPLANNUM,c.ASSETNUM,c.TIME1,a.DESCRIPTION assetname,cp.EXECUTEBY,cp.REGULAR ,p.DISPLAYNAME FROM  `crecord` c,`asset` a ,`cplan` cp ,`person` p  
  <where>
		<include refid="query_allitems_where"/>
	</where>
  </select>
  <select id="selectCrecordline" resultType="cn.ssm.po.Crecordline">
  	SELECT * FROM `crecord` WHERE CPLANNUM=#{0} AND ASSETNUM=#{1}
  </select>
  <select id="selectAbnormal" resultType="cn.ssm.po.Abnormal">
  	SELECT * FROM `crecord` where (`RESULT1`='不正常'||`RESULT2`='不正常'||`RESULT3`='不正常'||`RESULT4`='不正常') order by `UNIDCRECORD`  limit 30
  </select>
  <select id="selectAbnormalByTime" resultType="cn.ssm.po.Abnormal">
	SELECT * FROM `crecord` where ((TIME1 BETWEEN #{0} AND #{1})&amp;&amp;(`RESULT1`='不正常')) || ((TIME2 BETWEEN #{0} AND #{1}) &amp;&amp; (`RESULT2`='不正常') ) ||((TIME3 BETWEEN #{0} AND #{1})&amp;&amp;(`RESULT3`='不正常'))||((TIME4 BETWEEN #{0} AND #{1})&amp;&amp;(`RESULT4`='不正常'))
  </select>
</mapper>