<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ssm.mapper.PistdAssetnumMapper">

	
	<select id="getAllPistdAssetnum"  
			resultType="cn.ssm.po.PistdAssetnum">
		select  *  from  pistdasset2 inner join asset ON  
pistdasset2.ASSETNUM = asset.ASSETNUM
	</select>
	<select id="getAllCpistdAssetnum"  
			resultType="cn.ssm.po.PistdAssetnum">
		select  *  from  cstdasset inner join asset ON  
cstdasset.ASSETNUM = asset.ASSETNUM
	</select>

</mapper>