<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.mapper.RecordmidMapper" >
 <!--  <resultMap id="BaseResultMap" type="cn.ssm.po.Recordmid" >
    <id column="RECORDMIDUNID" property="recordmidunid" jdbcType="INTEGER" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="ACTIONTIME" property="actiontime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="query_items_where">
  	
			<if test="dev!=null and dev!=''">
				and  c.ASSETNUM =#{dev}
			</if>
			<if test="dodate!=null and dodate!=''">
				and  c.TIME1 like '%${dodate}%'
			</if>
		
		and a.ASSETNUM=r.ASSETNUM and
		p.LOGINID=r.PIBY and
		pd.PIPLANNUM=r.PIPLANNUM and pd.PIPLANDATE=r.PIPLANDATE and pd.ASSETNUM=r.ASSETNUM and
		p3.PISTDNUM=pd.PISTDNUM and
		r.RESULT='正常'
		
	</sql>
		<sql id="query_allitems_where">
  	
			
			<if test="dodate!=null and dodate!=''">
				and  c.TIME1 like '%${dodate}%'
			</if>
		
		and a.ASSETNUM=r.ASSETNUM and
		p.LOGINID=r.PIBY and
		pd.PIPLANNUM=r.PIPLANNUM and pd.PIPLANDATE=r.PIPLANDATE and pd.ASSETNUM=r.ASSETNUM and
		p3.PISTDNUM=pd.PISTDNUM and
		r.RESULT='正常'
		
	</sql>
 <select id="selectPirecordAseet" resultMap="PirecordAssetnumMap">
 	SELECT distinct `recordmid`.ASSETNUM,`asset`.DESCRIPTION  FROM `crecord`, `asset` where `asset`.ASSETNUM=`recordmid`.ASSETNUM
 </select>
  <select id="selectPirecord" resultMap="PirecordMap" parameterType="cn.ssm.po.DevDodate">	
	SELECT * FROM  `recordmid` r,`asset` a  ,`cplan` c ,`person` p ,`pistdline3` p3,`pirecord` pd
	<where>
		<include refid="query_items_where"/>
	</where>
  </select>
  <select id="selectAllPirecord" resultMap="PirecordMap" parameterType="cn.ssm.po.DevDodate">
  SELECT * FROM  `recordmid` r,`asset` a  ,`cplan` c ,`person` p ,`pistdline3` p3,`pirecord` pd
  <where>
		<include refid="query_allitems_where"/>
	</where>
  </select>
  <select id="selectPirecordline" resultType="cn.ssm.po.Pirecordline">
  	SELECT * FROM `recordmid WHERE PIPLANNUM==#{0} AND PIPLANDATE=#{1} AND PIBY=#{2} AND ASSETNUM=#{3}
  </select>
  <select id="selectAbnormal" resultType="cn.ssm.po.Abnormal">
  	SELECT * FROM `crecord` where (`RESULT1`='不正常'||`RESULT2`='不正常'||`RESULT3`='不正常'||`RESULT4`='不正常') order by `UNIDCRECORD`  limit 30
  </select>
  <select id="selectAbnormalByTime" resultType="cn.ssm.po.Abnormal">
	SELECT * FROM `crecord` where ((TIME1 BETWEEN #{0} AND #{1})&amp;&amp;(`RESULT1`='不正常')) || ((TIME2 BETWEEN #{0} AND #{1}) &amp;&amp; (`RESULT2`='不正常') ) ||((TIME3 BETWEEN #{0} AND #{1})&amp;&amp;(`RESULT3`='不正常'))||((TIME4 BETWEEN #{0} AND #{1})&amp;&amp;(`RESULT4`='不正常'))
  </select> -->
</mapper>